//FAMILY
$main-font-family: "Ubuntu";

//FONT STEP
$ui-font-step: 16px;

//SIZES
$fs-default: $ui-font-step;
$fs-100: $ui-font-step * 1.25;
$fs-200: $ui-font-step * 1.5;

//WEIGHTS
$normal: 400;
$bold: 700;
