*,
*::before,
*::after {
  box-sizing: border-box !important;
  padding: 0;
  margin: 0;
}

html {
  overflow: scroll;
  overflow-x: hidden;

  //hide scrollbar
  overflow-y: scroll;
  // scrollbar-width: none; /* Firefox */
  // -ms-overflow-style: none; /* Internet Explorer 10+ */

  // &::-webkit-scrollbar {
  //   /* WebKit */
  //   width: 0;
  //   height: 0;
  // }
}

// body {
//   min-height: 100vh;

//   overflow-y: hidden;
//   overflow-x: hidden;
//   overflow: hidden;

//   text-rendering: optimizeSpeed;
//   //line-height: 1.5;

//   -ms-overflow-style: none; /* Internet Explorer 10+ */
//   scrollbar-width: none; /* Firefox */
//   &::-webkit-scrollbar {
//     display: none;
//   }
// }

// ::-webkit-scrollbar {
//   width: 0;
//   /* Remove scrollbar space */
//   background: transparent;
//   /* Optional: just make scrollbar invisible */
// }

ul {
  list-style: none;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

a,
img,
button {
  user-select: none;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}

a,
input,
button,
textarea,
select {
  font: inherit;
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
